* {
    box-sizing: border-box;
}

html {
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

.parallax {
    background-image: url("images/wallpaper.webp");
    min-height: 500px;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.gridContainer {
    display: grid;
    grid-template-columns: 6fr 5.5fr;
    grid-template-rows: 0.75fr 2fr 2.7fr 1fr 2fr 0.4fr;
    grid-template-areas:
        "header           header"
        "info                krustyKrabImage"
        "characterImages          characterImages"
        "GalleryImages           GalleryImages"
        "form                   form"
        "footer                 footer";
    height: 150vh;
    grid-row-gap: 75px;
    grid-column-gap: 50px;
    margin: 0 25px;
}

header {
    grid-area: header;
    background-color: #353333;
    margin: 0 -25px;
    color: white;
    text-align: center;
    box-shadow: 0px 5px 25px #353333;

}

#headerText {
    text-align: center;
    font-family: 'Sigmar One', cursive;
    display: inline-block;
    margin-top: 4%;
}

#logo {
    width: 10%;
    margin-top: -2.5%;
    min-width: 100px;
}

#btnContainer {
    position: relative;
    top: -8px;
    display: inline-block;
    padding: 10px;
}

.btn {
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #353333;
    border-radius: 10px;
}

.btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: white;
}

.btn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

#krustyKrabContainer {
    grid-area: krustyKrabImage;
    text-align: center;
}

#krustyKrabImage {
    width: 110%;
    margin-left: -50px;
    margin-top: 20px;
}

#informationContainer {
    grid-area: info;
    background-color: #353333;
    color: #ffff;
    padding: 12px;
}

#readMore {
    color: aqua;
}

/** Character images **/
#characterContainer {
    grid-area: characterImages;
    margin-bottom: -75px;
    margin-top: -25px;
    height: 125px;
    position: relative;
}

.imageColumn {
    width: 14.28%;
    float: left;
    padding-left: 5%;
    height: 125px;
}

#sandyImage {
    position: absolute;
    bottom: 0;
    width: 95px;
}

#sandyImage:hover {
    transform-origin: bottom;
    transform: scale(1.5);

}

#patrickImage {
    position: absolute;
    bottom: 0;
    width: 80px;
}

#patrickImage:hover {
    transform: scale(2.1);
    transform-origin: bottom;
    content: url("Images/patrickHover.webp");
    padding-bottom: 1px;

}

#patrickStar {
    display: none;
}

#squidwardImage {
    position: absolute;
    bottom: 0;
    width: 45px;
}

#squidwardImage:hover {
    transform: scale(1.5);
    transform-origin: bottom;
}

#krabsImage {
    position: absolute;
    bottom: 0;
    width: 85px;
}

#krabsImage:hover {
    transform: scale(1.5);
    transform-origin: bottom;
}

#spongebobImage {
    position: absolute;
    bottom: 0;
    width: 85px;
}

#spongebobImage:hover {
    transform: scale(1.5);
    transform-origin: bottom;
}

#planktonImage {
    position: absolute;
    bottom: 0;
    width: 85px;
}

#planktonImage:hover {
    transform: scale(1.5);
    transform-origin: bottom;
}

#garyImage {
    position: absolute;
    bottom: 0;
    width: 85px;
}

#garyImage:hover {
    transform: scale(1.5);
    transform-origin: bottom;
}

/** end of Character Images **/

/** GALLERY **/
#galleryContainer {
    grid-area: GalleryImages;
    background-color: #ff3b3b;
    padding: 2.5%;
    margin: 0 -25px;
}

.gridContainer2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1.5em;

}

.location-listing {
    position: relative;
    border: 3.5px solid white;

}

.location-listing:hover {
    box-shadow: 10px 10px 10px #353333;
    transition: 0.5s;
}

img {
    width: 100%;
    /* need to overwrite inline dimensions */
    height: auto;
}

.location-image {
    line-height: 0;
    overflow: hidden;
}

.location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
}

.location-title {
    font-size: 1.5em;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90, 0, 10, 0.4);
    color: white;

    /* position the text in middle*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-listing:hover .location-title {
    opacity: 1;
    color: white;
    text-decoration: none;
}

.location-listing:hover .location-image img {
    filter: blur(2px);
}

/** GALLERY END**/

.column {
    float: left;
    width: 33.33%;
}


/** FORM **/
#suggestionContainer {
    grid-area: form;
    display: inline;
}

#suggestionHeader {
    display: inline;
    text-align: center;
    color: white;
}

#contactForm {
    border: 3px solid white;
    border-radius: 20px 20px 20px 20px;
    width: fit-content;
    padding: 20px;
    margin: auto;
    background-color: #ff3b3b;
    box-shadow: 10px 10px 5px #353333;
    table-layout: fixed;
}

input,
textarea {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #353333;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #353333;
    color: white;
}

input:hover,
textarea:hover {
    border: 3px solid #524a4a;
    transition: all 0.3s;

}

textarea {
    width: 100%;
    min-height: 150px;
}

input[type=submit] {
    width: 100%;
    background-color: #353333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #524a4a;
    transition: all 0.3s;

}

/** FORM END **/


#jellyfishImage {
    width: 300px;
    padding-top: 35%;
}

footer {
    grid-area: footer;
    background-color: #353333;
    margin: -30px -25px;
    text-align: center;
}

#footerText {
    color: white;
    height: 100%;
    display: inline-block;
    line-height: 60px;
    opacity: 0.7;
}

/** OTHER DEVICES **/
@media(max-width: 775px) {
    .gridContainer {
        display: grid;
        grid-template-columns: 4fr;
        grid-template-rows: 0.75fr 2fr 0fr 2fr 2.7fr 2fr 0.4fr;
        grid-template-areas:
            "header"
            "info"
            "krustyKrabImage"
            "patrickStar"
            "GalleryImages"
            "form"
            "footer";
        height: 150vh;
        grid-row-gap: 75px;
        grid-column-gap: 75px;
        margin: 0 25px;
    }

    #galleryContainer {
        grid-area: GalleryImages;
        background-color: #ff3b3b;
        padding: 10%;
        margin: 0 -25px;
    }

    /* only purpose is to be reponsive */
    #krustyKrabContainer {
        display: none;
    }

    #suggestionHeader {
        width: 100%;
    }

    #logo {
        margin-top: 10px;
    }

    #headerText {
        padding-bottom: 10px;
    }

    #characterContainer {
        display: none;
    }
    #patrickStar {
        grid-area: patrickStar;
        display: block;
        height: 165px;
        margin-bottom: -125px;
        margin-top: -150px;
        text-align: center;
        
    }
    #patrickImagePhone {
        width: 100px;
        padding-top: 60px;
    }
    #patrickImagePhone:hover {
        transform: scale(2.1);
        transform-origin: bottom;
        content: url("Images/patrickHover.webp");
        padding-top: 114px;
    
    }
}

@media(min-width: 1750px) {

    #informationContainer {
        grid-area: info;
        background-color: #353333;
        color: #ffff;
        padding: 12px;
        font-size: 24px;
    }

    #galleryContainer {
        grid-area: GalleryImages;
        background-color: #ff3b3b;
        padding: 1%;
    }

    .gridContainer2 {
        display: grid;
        grid-template-rows: 171px;
        grid-template-columns: repeat(6, 300px);
        grid-column-gap: 50px;
        justify-content: center;
    }

}